<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HYFLEX_HMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CustomWindowsForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HYFLEX_HMS.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="MsgHeder" serializeAs="String">
                <value />
            </setting>
            <setting name="Msg" serializeAs="String">
                <value />
            </setting>
            <setting name="exchange_rate_lrk" serializeAs="String">
                <value>159.27</value>
            </setting>
            <setting name="tax_percentage" serializeAs="String">
                <value>25.04</value>
            </setting>
            <setting name="IsBlock" serializeAs="String">
                <value>False</value>
            </setting>
        </HYFLEX_HMS.Properties.Settings>
        <CustomWindowsForm.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="MsgHeder" serializeAs="String">
                <value />
            </setting>
            <setting name="Msg" serializeAs="String">
                <value />
            </setting>
            <setting name="exchange_rate_lrk" serializeAs="String">
                <value>159.27</value>
            </setting>
            <setting name="tax_percentage" serializeAs="String">
                <value>0</value>
            </setting>
        </CustomWindowsForm.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>